.container{
	margin: 0 auto;
	width: 960px;
}

.logo{
	padding-top: 10px;
	padding-bottom: 10px;
}

h1{
	text-align: center;
}

.pure-menu ul {
	margin-top: 40px;
}

.pure-menu ul li{
	border-left: 1px dotted #D6D6D6;
}

.container_fond{
	width: 100%;
	background: black;
	height: 342px;
}

.slideImgWrap{
	margin-top: 30px;
}

.pure-button img{
	margin-left: 30px;
}

.info{
	width: 285px;
}

.container_fond_footer{
	width: 100%;
	background: #4c4c4c;
	height: 14px;
	margin-top: 30px;
}

.break{
	height:6px;
	background: url("../images/break.png");
}

.break2{
	height:6px;
	margin-top:25px;
	margin-bottom: 5px;
	background: url("../images/break.png");
}

#newsletter, #email, #name, #message{
	width:95%;
}

#message{
	height: 184px;
	max-width: 304px;
}

.cadre img{
	padding: 7px;
	background:#F3F3F3;
	border :1xp solid #E1E1E1;
	border-radius: 5px;	
}	

.contenu_news img{
	float:left;
	margin-right: 10px;
}

.contenu_news li{
	list-style: none;
	padding-bottom: 14px;
	border-bottom:1px dashed #d3d3d3;
}

.contenu_news ul{
	padding: 0;
}

.contenu_news p{
	font-size: 14px;
	max-height: 48px;
}

.contenu_news_actu img{
	float:left;
	margin-right: 10px;
}

.contenu_news_actu li{
	list-style: none;
	padding-bottom: 14px;
	border-bottom:1px dashed #d3d3d3;
}

.contenu_news_actu ul{
	padding: 0;
}

.contenu_news_atu p{
	font-size: 14px;
}

.pure-u-1-3 h3{
	border-bottom:1px dashed #d3d3d3;
	width: 95%;
}

.container_footer{
	width: 100%;
	background:#333333;
}

#footer{
	margin:0 auto;
	width:960px;
	height: 150px;
}

#footer p{
	font-size:11px;
	color:#999999;
}